body {
    margin: 0;
    padding: 0;

    background-color: #dddddd;
}

.navbar {
    height: 80px;
    overflow: hidden;
    top: 0;
    display: flex;
    align-items: center;
    background: #ffffff;
    width: 100%;
}

.btn {
    display: none;
    position: absolute;
    right: 20px;
}

.btn:hover>span {
    background: #6ab04c;
}

.btn span {
    display: block;
    margin: 6px;
    width: 40px;
    height: 3px;
    background: #333;
}

.menu {
    position: absolute;
    right: 20px;
}

.menu a {
    color: #333;
    text-decoration: none;
    font-weight: 700;
    margin-left: 20px;
    transition: color 0.3s;
    text-transform: uppercase;

}

.dropbtn {
    padding: 16px;
    position: absolute;
    margin-top: -80px;
    width: 30px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin-top: -15px;
    width: 15em;
    height: 34.2em;
}

.dropdown-content input:hover {
    background-color: #f1f1f1;
}

.dropdown-content input {
    width: 18em;
    height: 8em;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
    background-color: #f9f9f9;
}
.table{
    margin-left: 20%;
}

@media (max-width: 700px) {
    .navbar {
        overflow: visible;
    }

    .menu {
        width: 100%;
        right: 0;
        top: 80px;
        background: #f1f1f1;
        overflow: hidden;
        max-height: 0;
    }

    .menu a {
        display: block;
        text-align: center;
        padding: 10px;
        margin: 0;

    }

    .btn {
        display: block;
        cursor: pointer;
    }

    .show {
        max-height: 500px;
    }

}